{% extends 'base.html' %}

{% block title %}View Profile{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 form-container mx-auto">
            <img src="{{ user.avatar.url }}" alt="Avatar" class="avatar mx-auto d-block">
            <h2 class="text-center">Profile - {{ user.name }}</h2>
            <h4 class="text-center text-muted mb-4">{{ user.role }}</h4>

            <div class="form-form">
                <div class="form-grid">
                    <div class="form-group mb-3">
                        <div class="label-wrapper">Name:</div>
                        <div class="value">{{ user.name }}</div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="label-wrapper">Email:</div>
                        <div class="value">{{ user.email }}</div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="label-wrapper">Phone Number:</div>
                        <div class="value">{{ user.phone_number }}</div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="label-wrapper">Personal ID:</div>
                        <div class="value">{{ user.personal_id }}</div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="label-wrapper">Birth Date:</div>
                        <div class="value">{{ user.birth_date }}</div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="label-wrapper">Gender:</div>
                        <div class="value">{{ user.gender }}</div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="label-wrapper">Address:</div>
                        <div class="value">{{ user.address }}</div>
                    </div>
                </div>

                {% if is_own_profile %}
                    <div class="d-flex justify-content-center mt-4 button-wrapper">
                        <a href="{% url 'edit_profile' user.id %}">
                            <button class="btn btn-primary submit-btn">Edit Profile</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}