{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Users List</h2>
    <div class="d-flex justify-content-between align-items-center mb-4">
    <form method="get" class="mb-3">
        <input type="text" name="q" placeholder="Search users..." value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <a href="{% url 'admin_create_user' %}" class="btn btn-primary">Create New User</a>
    </div>

    {% for user in page_obj %}
        {% include 'accounts/users/user_card.html' with user=user %}
    {% empty %}
        <p>No users found.</p>
    {% endfor %}

    <!-- Pagination -->
    <nav aria-label="Users pagination" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        &laquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        &raquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}