{% extends 'base.html' %}

{% block title %}{{ action }} Article{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{{ action }} Article</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <div class="form-check mb-3">
            {{ form.is_published }}
            {{ form.is_published.label_tag }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'articles:article_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
{% block extra_css %}
<style>
    input[type="text"],
    textarea,
    select {
        background-color: #ffffff !important;
        color: #000000;
    }
    textarea.form-control {
    height: 200px;  /* or any other height */
}
</style>
{% endblock %}