<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TakeCare | 
    {% block title %}
    {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
</head>
<body>
    <!-- Top Navigation Bar -->
    <header>
        <nav class="navbar">
            <div class="left-nav">
            <a href="{% url 'home' %}">
                {% include 'logo.html' %}
            </a>
            </div>
            <div class="right-nav">
                <ul>
                    {% block right-nav %}
                    <li><a href="#"> Report Issue <i class="fas fa-exclamation-circle"></i></a></li>
                    <li><a href="#"><i class="fas fa-bell"></i></a></li>
                    <li><a href="#"><i class="fas fa-language"></i> Lang</a></li>
                    <li><a href="{% url 'view_profile' request.user.id %}"><i class="fas fa-user"></i> Profile</a></li>
                    {% endblock %}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Content Wrapper: Vertical Navigation and Main Content -->
    <div class="content-wrapper">
        <!-- Left Vertical Navigation Bar -->
        {% block vertical-nav %}
        <nav class="vertical-nav">
            <div class="top-nav">
                <ul>
                    {% include 'navigation.html' %}
                </ul>
            </div>
    
            <div class="bottom-nav">
                <ul>
                    <li><a href="{% url 'view_profile' request.user.id %}"><i class="fas fa-id-badge"></i> View Profile</a></li>
                    <li><a href={% url 'logout' %}><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    <li><a href={% url 'about' %}><i class="fas fa-info-circle"></i>About</a></li>
                </ul>
            </div>
        </nav>
        {% endblock %}

        <!-- Main Content Area -->
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>